<% unless @products.blank? %>
  <div class="row">
    <div class="col-lg-12">
      <h3>Products</h3>
      <hr>
    </div>
  </div>

  <div class="row text-center">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag('img.jpg') %>
          <div class="caption">
            <h3><%= product.name %></h3>
            <p><%= number_to_currency(product.price)  %></p>
            <p>
              <% if user_signed_in? %>
                <a href="#" class="btn btn-primary">Add to Cart</a></p>
              <% end %>
              <%= link_to 'Show', product, class: 'btn btn-info' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% if @products.blank? %>
  <h3 class="text-center">No Products Available</h3>
<% end %>