<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :items_count %><br>
    <%= f.number_field :items_count, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :total %><br>
    <%= f.text_field :total, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Save Cart", class: 'btn btn-info' %>
  </div>
<% end %>
