<h2>Listing Products</h2>
<hr>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><strong><%= product.code %></strong></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= truncate(product.description, length: 75) %></td>
        <td><%= link_to 'Show', product, class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-default' %>
