<!DOCTYPE html>
<html>
<head>
  <title>Estore</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "E-STORE", root_path, class: 'navbar-brand' %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul> -->
        <% if user_signed_in? %>
          <p class="navbar-text navbar-right">Signed in as <%= current_user.email %>, <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
        <% else %>
          <p class="navbar-text navbar-right"><a href="users/sign_in" class="navbar-link">Sign In</a></p>
        <% end %>  
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">
    <% if notice %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% elsif alert %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    <% end %>
    <!-- Main Content Goes Here 
    ================================== -->
    <%= yield %>
    <!-- ============================= -->
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(".alert").fadeTo(2000, 500).slideUp(500, function(){
      $(".alert").alert('close');
    });
  </script>
</body>
</html>
